<div>
  <img align="left" src="https://i.ibb.co/kxvmK9f/image.png" alt="EFM News Logo" style="width:10%;height:auto;"
    routerLink="/mainpage">
  <h1 align="center" routerLink="/mainpage">EFM News</h1>
  <div align="right">
    <label for="Username"> </label>
    <input type="text" id="Username" [(ngModel)]="user.username" placeholder="Username" size="10"
      style="margin-right:10px;" />
    <label for="password"> </label>
    <input type="password" id="password" [(ngModel)]="user.password" placeholder="Password" size="10"
      style="margin-right:10px;" />
    <a class="btn btn-dark btn-sm" (click)="login(user.username, user.password)">Login</a>
    <!-- <div>Hallo {{user.username}}</div> -->
  </div>
  <router-outlet></router-outlet>
</div>