<h1 align="center"> EFM-Newspaper </h1>
<h2 align="right">
  <label for="Username"> </label>
  <input type="text" id="Username" [(ngModel)]="user.username" placeholder="Username" size="10">
  <label for="password"> </label>
  <input type="text" id="password" [(ngModel)]="user.password" placeholder="Password" size="10">
  <button (click)="login()">
    Login
   </button>
</h2>
<nav>
  <ul>
    <a style="text-decoration: none;"></a>
    <li><a href="#">All </a></li>
    <li><a href="#">National </a></li>
    <li><a href="#">International </a></li>
    <li><a href="#">Sports </a></li>
 </ul>
</nav>