<h1 align="center"> EFM-Newspaper </h1>
<h2 align="right">
  <label for="Username"> </label>
  <input type="text" id="Username" [(ngModel)]="user.username" placeholder="Username" size="10">
  <label for="password"> </label>
  <input type="text" id="password" [(ngModel)]="user.password" placeholder="Password" size="10">
  <button (click)="login()">
    Login
   </button>
</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">EFM-Newspaper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="national">National</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="economy">Economy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="sports">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="technology">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="all">All</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul>
    <a style="text-decoration: none;"></a>
    <li><a href="#">All </a></li>
    <li><a href="#">National </a></li>
    <li><a href="#">International </a></li>
    <li><a href="#">Sports </a></li>
 </ul>
</nav> -->